/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    
    withName: SHOVILL {
        ext.args = params.assembler ? "--assembler ${params.assembler}" : 'skesa'
    }

    withName: TRIMMOMATIC {
        publishDir = [
            [
                path: { "${params.outdir}/trimmomatic" },
                mode: params.publish_dir_mode,
                pattern: "*paired.fastq.gz"
            ],
            [
                path: { "${params.outdir}/trimmomatic/log" },
                mode: params.publish_dir_mode,
                pattern: "*.txt"
            ],
        ]
    }

    withName: ABRICATE {
        ext.database = 
        publishDir = [
            [
                path: { "${params.outdir}/virulence" },
                mode: params.publish_dir_mode,
                pattern: "*vf.tsv"
            ],
            [
                path: { "${params.outdir}/virulence/logs" },
                mode: params.publish_dir_mode,
                pattern: "*log"
            ]
        ]
    }

    withName: ROARY {
        publishDir = [
            [
                path: { "${params.outdir}/roary" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: SNIPPY {
        publishDir = [
            [
                path: { "${params.outdir}/snippy" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    withName: GUBBINS {
        publishDir = [
            [
                path: { "${params.outdir}/gubbins" },
                mode: params.publish_dir_mode,
                pattern: "*"
            ]
        ]
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:.*:FASTQC_FASTP:FASTQC_RAW' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        }

    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
        publishDir = [
            [
                path: { "${params.outdir}/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{json,html}"
            ],
            [
                path: { "${params.outdir}/fastp/log" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ],
            [
                path: { "${params.outdir}/fastp/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*fastp.fastq.gz"
            ]
        ]
    }


    withName: '.*:.*:FASTQC_FASTP:FASTQC_TRIM' {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/trim" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}